mixin sBy(data)
	// start sBy
	+b.SECTION.sBy.section#sBy&attributes(attributes)
		.container
			+b.section-title
				h2 как купить

			+e.tableWrap
				table 
					thead 
						tr 
							td банк
							td ставка
							td сумма
							td требования
					tbody 
						mixin tr(i,pr,rate,price,year,age)
							tr 
								td(data-title="банк") 
									+pic(`bank-${i}.png`,'','')
								td(data-title="ставка") 
									div
										strong= pr 
										span= rate
								td(data-title="сумма") 
									div
										strong= price 
										span= year
								td(data-title="требования")!= age
						+tr('1','5%','«Объекты на балансе»','400 000  - 30 000 000 руб ',`На срок до 25 лет`,`Возраст от 21 года<br>Стаж от 6 месяцев / 3 документа`)
						+tr('2','7.8%','«Новоселы»','10 000 000  - 60 000 000 руб',`На срок до 30 лет`,`Возраст от 20 лет<br>Стаж от 6 месяцев /3 документа`)
						+tr('3','9.29%','«На готовое жилье»','600 000  - 50 000 000 руб ',`На срок до 30 лет`,`Возраст от 20 лет<br>Стаж от 4 месяцев / 4 документа`)
						+tr('4','8.4%','«Новостройка»','от 300 000  руб ',`На срок до 30 лет`,`Возраст от 21 года<br>Стаж от 6 месяцев / 3 документа`)
						+tr('5','8%','«Победа над формальностями»','от 500 000 - 8 000 000  руб ',`На срок до 20 лет`,`Возраст от 21 года<br> 3 документа`)
			.row 
				.col-lg-6 
					p Текст про ипотеку и&nbsp;варианты покупки жилья Текст про ипотеку и&nbsp;варианты покупки жильяТекст про ипотеку и&nbsp;варианты покупки жильяТекст про ипотеку и&nbsp;варианты покупки жильяТекст про ипотеку и&nbsp;варианты покупки жильяТекст про ипотеку и&nbsp;варианты покупки жильяТекст про ипотеку и&nbsp;варианты покупки жилья
					p Текст про ипотеку и&nbsp;варианты покупки жильяТекст про ипотеку и&nbsp;варианты покупки жильяТекст про ипотеку и&nbsp;варианты покупки жилья
				.col-lg-6 
					p Текст про ипотеку и&nbsp;варианты покупки жилья Текст про ипотеку и&nbsp;варианты покупки жильяТекст про ипотеку и&nbsp;варианты покупки жильяТекст про ипотеку и&nbsp;варианты покупки жильяТекст про ипотеку и&nbsp;варианты покупки жильяТекст про ипотеку и&nbsp;варианты покупки жильяТекст про ипотеку и&nbsp;варианты покупки жилья
					p Текст про ипотеку и&nbsp;варианты покупки жильяТекст про ипотеку и&nbsp;варианты покупки жильяТекст про ипотеку и&nbsp;варианты покупки жилья
			+e.btnWrap
				+e.btn.btn.link-modal(href='#modal-call' data-main-title="Купить таунхаус в ипотеку " ) Купить таунхаус в ипотеку 

	// end sBy